[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tweepy = "*"
python-dotenv = "*"
requests = "*"
srt = "*"

[dev-packages]

[requires]
python_version = ">=python 3.8"
